// #app {
//    max-width: 1280px; 
//   margin: 0 auto;
//   font-weight: normal; 
//   width: 100%;
// }

* {
  box-sizing: border-box;
  scrollbar-width: thin;



}

body {
  font-family: $main-font;
  background: linear-gradient(87deg, $main-bg-color, $secondary-bg-color);
  margin: 0;
  overflow-y: scroll;

}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-size: .9em;
}